<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">
  @*<link href="~/css/normalize.css" rel="stylesheet">
    <link href="~/css/small.css" rel="stylesheet">
    <link href="~/css/medium.css" rel="stylesheet">
    <link href="~/css/large.css" rel="stylesheet">*@

  <link rel="stylesheet" href="~/lib/bootstrap-4.6.0/scss/custom-bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/mystyles.css" />

  <title>@ViewBag.Title</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid container">
      <div class="logo-div mr-2">
        <a class="navbar-brand vertical-alignment-container horizontal-alignment-container"><img src="~/images/QIcon_black.svg" alt="logo" height="40" />Entangle</a>
        <img class="logo-edge" src="~/images/edge.svg" width="10" height="10" />
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link @(ViewData["Title"] as string == "Home" ? "active" : "")" aria-current="page" asp-controller="home" asp-action="index">Home</a>
          </li>
          <li class="nav-item @(ViewData["Title"] as string == "Choice List" ? "active" : "")">
            <a class="nav-link" asp-controller="choice" asp-action="list">Choices</a>
          </li>
          <partial name="_LoginPartial" />
        </ul>
      </div>
    </div>
  </nav>

  <main class="mb-3 mt-3">
    <div class="container">
      @RenderBody()
    </div>
  </main>

  <footer class="p-2">
    <div class="container">
      <div class="row mb-3">
        <div class="col-12 col-md-8">
          <h5 class="container-id">V-0</h5>
          <h4>This Page</h4>
          <div>
            <img class="floated-left-child mr-1" src="~/images/exclamation-box.svg" width="60" height="60" />
            <span class="footer-bullet mr-1">›</span> This page is an internal test. If you are not a tester, you will not be able to sign up and use this site.<br />
            <span class="footer-bullet mr-1">›</span> However, the sourcecode is available on <a href="https://github.com/ultradr3mer/QEntangle.Web">Github</a>.
          </div>
        </div>
        <div class="col-12 col-md-4">
          <h5 class="container-id">V-1</h5>
          <h4>Copyright</h4>
          <div class="vertical-alignment-container">
            <img class="floated-left-child mr-2" src="~/images/om_saferuse_crop.svg" alt="logo" width="100" height="120" />
            <p>&copy;2021<br />all rights reserved</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap-4.6.0/dist/js/bootstrap.bundle.min.js"></script>
  @RenderSection("Scripts", required: false)
</body>
</html>
