@model ChoicesListViewModel
@{
  ViewData["Title"] = "Choice List";
}

<div class="equalize-bottom-margin">
  <div class="row">
    <div class="col-12 col-md-6">
      <h3 class="container-id">B-0</h3>
      <h1>Add choice</h1>
      <hr />
      <partial name="_PostChoice" model="null" />
    </div>
    <div class="col-12 col-md-6">
      <h3 class="container-id">B-1</h3>
      <h1>Info</h1>
      <hr />
      <div>
        <img class="floated-left-child mr-2" src="~/images/exclamation-box.svg" width="70" height="70" />
        Just enter what actions each version of yourself should execute. When you click execute, a "random number" from the <a href="https://qrng.anu.edu.au/">ANU QRNG</a> service is retrieved and an option determined according to that number. Every evaluation each option will be selected, but you will be split and only see a single option selected.<br />
        If each version of you acts according to the assigned action, you have successfully put yourself into a superposition.<br />
      </div>
    </div>
  </div>

  @if (Model.Unevaluated.Any())
  {
    <div class="row">
      <div class="col-12">
        <h3 class="container-id">B-2</h3>
        <h1>Unevaluated choices</h1>
        <hr />
      </div>
    </div>
  }

  <div class="row">
    @foreach (var choice in Model.Unevaluated)
    {
      <div class="col-12 col-md-6 col-xl-3 mb-3">
        <div class="choice-container">
          <h3>@choice.Name</h3>
          <div class="row row-mlr-1">
            @foreach (var option in choice.Options)
            {
              <div class="col-auto col-plr-1 mt-1 mb-1">
                <div class="option @(option.IsDefinitive ? " option-definitive" : string.Empty)">@option.Name</div>
              </div>
            }
          </div>
          <div class="clearfix mt-2">
            <a class="btn btn-primary float-right clearfix" role="button" asp-controller="choice" asp-action="evaluate" asp-route-id="@choice.Id"><img src="~/icons/bolt_black_24dp.svg" /></a>
          </div>
        </div>
      </div>
    }
  </div>

  @if (Model.Evaluated.Any())
  {
    <div class="row">
      <div class="col-12">
        <h3 class="container-id">B-3</h3>
        <h1>Evaluated choices</h1>
        <hr />
      </div>
    </div>
  }

  <div class="row">
    @foreach (var choice in Model.Evaluated)
    {
      <div class="col-12 col-md-6 col-xl-3 mb-3">
        <div class="choice-container">
          <h3>@choice.Name</h3>
          <div class="row row-mlr-1">
            @foreach (var option in choice.Options)
            {
              <div class="col-auto col-plr-1 mt-1 mb-1">
                <div class="option @(option.IsDefinitive ? " option-definitive" : string.Empty)">@option.Name</div>
              </div>
            }
          </div>
          <div class="row">
          </div>
        </div>
      </div>
    }
  </div>
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}
